<!DOCTYPE html>
<html lang="en">
<head>   
 <meta charset="UTF-8">   
 <meta http-equiv="X-UA-Compatible" content="IE=edge">   
 <meta name="viewport" content="width=device-width, initial-scale=1.0">    
<link rel="stylesheet" href="estilo.css"> 
<title>Menu desplegable</title>
</head>
<body>
   <nav>
      <ul class="menu-horizontal">
        <li><a href="#">Inicio</a></li>
        <li><a href="#">Cliente</a>
            <ul class="menu-vertical">
               <li><a href="vistaRegistroCliente.html">Registrarse como Cliente</a></li>
               <li><a href="#">Actualizar Datos Cliente</a></li>
            </ul>
        </li>
         <li><a href="#">Flota</a>
            <ul class="menu-vertical">
               <li><a href="#">Ver Vehiculos</a></li>
               <li><a href="#">Renta</a></li>
            </ul>
        </li>
      </ul>
   </nav>
   <div>
   
   </div>
   <section id="html">
		<h2>Cliente</h2>
		<p>El Cliente tiene una gama de actividades desde esta pagina</p>

	</section>
</body>
</html>
