<!DOCTYPE html>
<html lang="en">
<head>   
 <meta charset="UTF-8">   
 <meta http-equiv="X-UA-Compatible" content="IE=edge">   
 <meta name="viewport" content="width=device-width, initial-scale=1.0">    
<link rel="stylesheet" href="estilo.css"> 
<title>Menu desplegable</title>
</head>
<body>
   <nav>
      <ul class="menu-horizontal">
        <li><a href="#">Inicio</a></li>
        <li><a href="#">Cliente</a>
            <ul class="menu-vertical">
               <li><a href="vistaRegistroCliente.html">Registrar Cliente</a></li>
               <li><a href="vistaMostrarCliente.html">Consultar Clientes</a></li>
               <li><a href="vistaActualizarCliente.html">Actualizar Datos Cliente</a></li>
               <li><a href="vistaBorrarCliente">Borrar Cliente</a></li>
            </ul>
        </li>
         <li><a href="#">Vehiculo</a>
            <ul class="menu-vertical">
               <li><a href="vistaRegistroVehiculo.html">Registrar Vehiculo</a></li>
               <li><a href="vistaMostrarVehiculo">Consultar Vehiculos</a></li>
               <li><a href="vistaActualizarVehiculo.html">Actualizar Datos Vehiculo</a></li>
               <li><a href="vistaBorrarVehiculo.html">Borrar Vehiculo</a></li>
            </ul>
        </li>
        <li><a href="#">Reportes</a>
            <ul class="menu-vertical">
               <li><a href="#">Reporte de Reservas</a></li>
               <li><a href="#">Reporte de Clientes Vip</a></li>
            </ul>
        </li>
      </ul>
   </nav>
   <div>
   </div>
   <section id="html">
		<h2>Empleado</h2>
		<p>El Empleado tiene una gama de actividades desde esta pagina</p>

	</section>
</body>
</html>
