<!DOCTYPE html>
<html lang="en">

<head>   
	<meta charset="UTF-8">   
	<meta http-equiv="X-UA-Compatible" content="IE=edge">   
	<meta name="viewport" content="width=device-width, initial-scale=1.0">   
	<title>Document</title>
</head>

<body>
	<form th:action="@{/personas/actualizar/{ced}(ced=${cliente.cedula})}" th:object="${cedula}" th:method="PUT">
		<table>
			<tr>
				<td>
					<label>Nombre:</label>
				</td>
				<td>
					<input type="text" id="nombre" th:field="${cliente.nombre}">
				</td>
			</tr>
			<tr>
				<td>
					<label>Aellido:</label>
				</td>
				<td>
					<input type="text" id="apellido" th:field="${cliente.apellido}">
				</td>
			</tr>
			<tr>
				<td>
					<label>Fecha de Nacimiento:</label>
				</td>
				<td>
					<input type="datetime-local" id="fechaNacimiento" th:field="${cliente.fechaNacimiento}">
				</td>
			</tr>
			<tr>
				<td>
					<label>Genero:</label>
				</td>
				<td>
					<input type="text" id="genero" th:field="${cliente.genero}">
				</td>
			</tr>
			<tr>
				<td>
					<input type="submit" value="Actualizar">
				</td>
			</tr>
		</table>
	</form>
</body>

</html>